<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - DAT</title>


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    

  
  <link rel="stylesheet" href="/Bootstrap/bootstrap/css/bootstrap.min.css" >
  <link rel="stylesheet" href="/Bootstrap/bootstrap-icons/bootstrap-icons.css" >
  <link rel="stylesheet" href="/Bootstrap/boxicons/css/boxicons.min.css">
  

  <!-- Main CSS File -->
  <link rel="stylesheet" href="/css/style.css">
  
</head>

<body>

  <!-- ======= Header ======= -->
  <%- include("templates/header.ejs") %>
  <!--======= SideBar =======-->
  <%- include("templates/sidebar.ejs") %>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1 >Dashboard</h1>
      
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <!--Count bunk cards-->
      <div class="row1">

        <!-- order-card start -->
        <div class="col-md-6 col-xl-3">

            <div class="card1 bg-m-dblue order-card m-round">
                <div class="card-block ">
                   
                    <h6 class="m-b-0">CSIT-1<span class="f-right" style="font-size:small;">2nd year</span></h6>
                    <br>
                    <h6 class="m-b-0">Total Count<span class="f-right">70</span></h6>
                  <h6 class="m-b-0">Present<span class="f-right">40</span></h6>
                  <h6 class="m-b-0">Bunk<span class="f-right">30</span></h6>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-3">

            <div class="card1 bg-m-gray order-card m-round">
                <div class="card-block ">
                   
                  <h6 class="m-b-0">CSIT-2<span class="f-right" style="font-size:small;">2nd year</span></h6>
                  <br>
                  <h6 class="m-b-0">Total Count<span class="f-right">70</span></h6>
                <h6 class="m-b-0">Present<span class="f-right">40</span></h6>
                <h6 class="m-b-0">Bunk<span class="f-right">30</span></h6>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-3">

            <div class="card1 bg-m-orange order-card m-round">
                <div class="card-block ">
                   
                  <h6 class="m-b-0">CSIT-3<span class="f-right" style="font-size:small;">2nd year</span></h6>
                  <br>
                  <h6 class="m-b-0">Total Count<span class="f-right">70</span></h6>
                <h6 class="m-b-0">Present<span class="f-right">40</span></h6>
                <h6 class="m-b-0">Bunk<span class="f-right">30</span></h6>
                </div>
            </div>
</a>
        </div>
        <div class="col-md-6 col-xl-3">

            <div class="card1 bg-m-dblue order-card m-round">
                <div class="card-block ">
                   
                  <h6 class="m-b-0">CSIT-1<span class="f-right" style="font-size:small;">3rd year</span></h6>
                    <br>
                    <h6 class="m-b-0">Total Count<span class="f-right">70</span></h6>
                  <h6 class="m-b-0">Present<span class="f-right">40</span></h6>
                  <h6 class="m-b-0">Bunk<span class="f-right">30</span></h6>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-3">

            <div class="card1 bg-m-gray order-card m-round">
                <div class="card-block ">
                   
                  <h6 class="m-b-0">CSIT-2<span class="f-right" style="font-size:small;">3rd year</span></h6>
                  <br>
                  <h6 class="m-b-0">Total Count<span class="f-right">70</span></h6>
                <h6 class="m-b-0">Present<span class="f-right">40</span></h6>
                <h6 class="m-b-0">Bunk<span class="f-right">30</span></h6>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-3">

            <div class="card1 bg-m-orange order-card m-round">
                <div class="card-block ">
                   
                  <h6 class="m-b-0">CSIT-3<span class="f-right" style="font-size:small;">3rd year</span></h6>
                    <br>
                    <h6 class="m-b-0">Total Count<span class="f-right">70</span></h6>
                  <h6 class="m-b-0">Present<span class="f-right">40</span></h6>
                  <h6 class="m-b-0">Bunk<span class="f-right">30</span></h6>
                </div>
            </div>

        </div>
        
       
      

       
      </div>
      <!--end of count bunk cards-->
      <div class="row">

        <div class="col-lg-8 ">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Students Count</h5>

              <!-- Line Chart -->
              <canvas id="lineChart" style="max-height: 700px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#lineChart'), {
                    type: 'line',
                    data: {
                      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                      datasets: [{
                        label: 'Count',
                        data: [65, 59, 80, 81, 56, 55, 40],
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>
              <!-- End Line CHart -->

            </div>
          </div>
          

            <!--Calender-->
            <div class="col-5">
              <div class="card">
                <div class="contianer">
                  <div class="calendar">
                    <div class="calendar-header">
                      <span class="month-picker" id="month-picker"> May </span>
                      <div class="year-picker" id="year-picker">
                        <span class="year-change" id="pre-year">
                          <pre><</pre>
                        </span>
                        <span id="year">2020 </span>
                        <span class="year-change" id="next-year">
                          <pre>></pre>
                        </span>
                      </div>
                    </div>
             
                    <div class="calendar-body">
                      <div class="calendar-week-days">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                      </div>
                      <div class="calendar-days">
                      </div>
                    </div>
                    <div class="calendar-footer">
                    </div>
                    <div class="date-time-formate">
                      <div class="day-text-formate">TODAY</div>
                      <div class="date-time-value">
                        <div class="time-formate">02:51:20</div>
                        <div class="date-formate">23 - july - 2022</div>
                      </div>
                    </div>
                    <div class="month-list"></div>
                  
              </div></div>
              
            
              <script>
            const isLeapYear = (year) => {
              return (year % 4 === 0 && year % 100 !== 0) || year % 400 === 0;
            };
            
            const getFebDays = (year) => {
              return isLeapYear(year) ? 29 : 28;
            };
            
            let calendar = document.querySelector('.calendar');
            const month_names = [
              'January',
              'February',
              'March',
              'April',
              'May',
              'June',
              'July',
              'August',
              'September',
              'October',
              'November',
              'December',
            ];
            let month_picker = document.querySelector('#month-picker');
            const dayTextFormate = document.querySelector('.day-text-formate');
            const timeFormate = document.querySelector('.time-formate');
            const dateFormate = document.querySelector('.date-formate');
            
            month_picker.onclick = () => {
              month_list.classList.remove('hideonce');
              month_list.classList.remove('hide');
              month_list.classList.add('show');
              dayTextFormate.classList.remove('showtime');
              dayTextFormate.classList.add('hidetime');
              timeFormate.classList.remove('showtime');
              timeFormate.classList.add('hidetime');
              dateFormate.classList.remove('showtime');
              dateFormate.classList.add('hidetime');
            };
            
            const generateCalendar = (month, year) => {
              let calendar_days = document.querySelector('.calendar-days');
              calendar_days.innerHTML = '';
              let calendar_header_year = document.querySelector('#year');
              let days_of_month = [
                31,
                getFebDays(year),
                31,
                30,
                31,
                30,
                31,
                31,
                30,
                31,
                30,
                31,
              ];
            
              let currentDate = new Date();
            
              month_picker.innerHTML = month_names[month];
            
              calendar_header_year.innerHTML = year;
            
              let first_day = new Date(year, month, 1);
            
              for (let i = 0; i <= days_of_month[month] + first_day.getDay() - 1; i++) {
                let day = document.createElement('div');
            
                if (i >= first_day.getDay()) {
                  day.innerHTML = i - first_day.getDay() + 1;
            
                  if (
                    i - first_day.getDay() + 1 === currentDate.getDate() &&
                    year === currentDate.getFullYear() &&
                    month === currentDate.getMonth()
                  ) {
                    day.classList.add('current-date');
                  }
                }
                calendar_days.appendChild(day);
              }
            };
            
            let month_list = document.querySelector('.month-list');
            month_names.forEach((e, index) => {
              let month = document.createElement('div');
              month.innerHTML = `<div>${e}</div>`;
            
              month_list.append(month);
              month.onclick = () => {
                currentMonth.value = index;
                generateCalendar(currentMonth.value, currentYear.value);
                month_list.classList.replace('show', 'hideonce');
                dayTextFormate.classList.remove('hidetime');
                dayTextFormate.classList.add('showtime');
                timeFormate.classList.remove('hidetime');
                timeFormate.classList.add('showtime');
                dateFormate.classList.remove('hidetime');
                dateFormate.classList.add('showtime');
              };
            });
            
            (function () {
              month_list.classList.add('hideonce');
            })();
            
            document.querySelector('#pre-year').onclick = () => {
              currentYear.value--;
              generateCalendar(currentMonth.value, currentYear.value);
            };
            
            document.querySelector('#next-year').onclick = () => {
              currentYear.value++;
              generateCalendar(currentMonth.value, currentYear.value);
            };
            
            let currentDate = new Date();
            let currentMonth = { value: currentDate.getMonth() };
            let currentYear = { value: currentDate.getFullYear() };
            generateCalendar(currentMonth.value, currentYear.value);
            
            const todayShowTime = document.querySelector('.time-formate');
            const todayShowDate = document.querySelector('.date-formate');
            
            const currshowDate = new Date();
            const showCurrentDateOption = {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
              weekday: 'long',
            };
            const currentDateFormate = new Intl.DateTimeFormat(
              'en-US',
              showCurrentDateOption
            ).format(currshowDate);
            todayShowDate.textContent = currentDateFormate;
            
            setInterval(() => {
              const timer = new Date();
              const option = {
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
              };
              const formateTimer = new Intl.DateTimeFormat('en-us', option).format(timer);
              let time = `${timer.getHours().toString().padStart(2, '0')}:${timer.getMinutes().toString().padStart(2, '0')}:${timer.getSeconds().toString().padStart(2, '0')}`;
              todayShowTime.textContent = formateTimer;
            }, 1000);
            
              </script>

              </div>

            </div>
          
        </div>

        <!-- Schedule -->
        <div class="col-lg-4">
          
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Select Year</h6>
                </li>

                <li><a class="dropdown-item" href="#">Second Year</a></li>
                <li><a class="dropdown-item" href="#">Third Year</a></li>
                
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Schedule <span>| Monday</span></h5>

              <div class="activity">

                <div class="activity-item d-flex">
                  <div class="activite-label">10:40</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    Wireless Mobile Computing/Computer Graphics<a href="#" class="fw-bold text-dark"></a> 
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">11:20</div>
                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                  <div class="activity-content">
                    Cryptography & N/W Security
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">12:10</div>
                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                  <div class="activity-content">
                    Software Engineering & Agile
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">13:00</div>
                  <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                  <div class="activity-content">
                   Lunch <a href="#" class="fw-bold text-dark"></a>
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">13:50</div>
                  <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                  <div class="activity-content">
                    Android Lab
                  </div>
                </div><!-- End activity item-->
                <div class="activity-item d-flex">
                  <div class="activite-label">14:40 </div>
                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                  <div class="activity-content">
                    Android Lab
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">15:30 </div>
                  <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                  <div class="activity-content">
                    Machine Learning
                  </div>
                </div><!-- End activity item-->
                <div class="activity-item d-flex">
                  <div class="activite-label">16:15</div>
                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                  <div class="activity-content">
                    Sports
                  </div>
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->
      </div><!-- End Right side columns -->
      </div><!--row ends-->
        <!-- right side columns -->
      
       <!-- End Right side columns -->
      
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
   <!-- JS Files -->
   <script src="/apexcharts/apexcharts.min.js"></script>
   <script src="/Bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="/Bootstrap/chart.js/chart.umd.js"></script>
  
 
   <!-- Template Main JS File -->
   <script src="/js/main.js"></script>
 
 </body>
 
 </html>     
