<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>errorpage</title>
  <!-- Add your CSS files here -->
  <link href="/bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/bootstrap/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
    <a href="/" class="btn btn-primary">Go Back</a>
  </div>
</body>
</html>
