<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>DAT</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/LandingPage_assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/LandingPage_assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/LandingPage_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/LandingPage_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/LandingPage_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/LandingPage_assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/LandingPage_assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Main CSS File -->
    <link href="/LandingPage_assets/css/style.css" rel="stylesheet">
  
  </head>
  
  <body>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container d-flex justify-content-between align-items-center">
  
        <div class="logo">
          <h1 class="text-light"><a href="/"><span></span></a></h1>
        </div>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact-LandingPage">Contact Us</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
      <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Daily Attendance Tracker</span></h2>
            <p class="animate__animated animate__fadeInUp">
               
               Embark on a revolutionary journey in attendance tracking with Daily Attendance Tracker. Bid farewell to manual registers and usher in an era of efficiency, 
               accuracy, and environmental responsibility.</p>
          </div>
        </div>
  
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown"> Embrace Efficiency</h2>
            <p class="animate__animated animate__fadeInUp"> 

                Say Goodbye to Manual Hassles
                Embrace a future where manual attendance woes are a thing of the past. Daily Attendance Tracker brings you a seamless 
                and efficient solution for attendance management.</p>
            
          </div>
        </div>
  
        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown"> Daily Attendance Tracker Unveiled
            </h2>
            <p class="animate__animated animate__fadeInUp">
                Your Gateway to Effortless Attendance Tracking
            
                Introducing Daily Attendance Tracker, a powerful application designed to simplify, streamline, and enhance attendance tracking.
                 Real-time updates and bunk student identification gets easier with this.</p>
            
          </div>
        </div>
        <!-- Slide 4 -->
        <div class="carousel-item">
            <div class="carousel-container">
              <h2 class="animate__animated animate__fadeInDown"> Empowering Faculty with Daily Attendance Tracker

              </h2>
              <p class="animate__animated animate__fadeInUp">  
                     Efficiency: Save class time and reduce administrative burdens.<br>
                    
                    Data Analysis: Identify trends for personalized student support.<br>
                    Prompt Interventions: Early identification for improved student success
                
              
                </p>
              </div>
          </div>
    

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>
  
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </section>

  <main id="main">
    <div class="section-title">
      <h2>About</h2>
      <p>
        At Daily Attendance Tracker, we recognize the challenges faced by educational institutions in attendance tracking. 
        We proudly introduce a modern solution crafted to simplify, streamline,manage and enhance attendance management. Our commitment to innovation and efficiency fuels the creation of a user-friendly, real-time Daily Attendance Tracking Application.</p>
    </div>
    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">
        <div class="section-title"><h2>Features</h2></div>
       
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Easy Attendance Tracking</a></h4>
              <p class="description">Streamline the attendance process with instant recording during classes, providing accurate and up-to-date data for faculty use.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Analytics & Reports</a></h4>
              <p class="description">Access attendance analytics to identify trends, patterns, and areas for improvement, supporting personalized student support and class enhancement.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Real-time Updates</a></h4>
              <p class="description">Stay informed with real-time attendance reports and analytics, enabling prompt decision-making and interventions.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Faculty-Friendly Design</a></h4>
              <p class="description">Save valuable class time, reduce administrative burdens, and intervene early to improve student engagement and success</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title"><h2>Services</h2></div>
          <br>

        <div class="row" data-aos="fade-up">
          <br>
          <div class="col-md-5">
            <img src="/LandingPage_assets/img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
           
            <h4>For Faculties</h4>
            <p class="fst-italic">
            
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Efficiency at Your Fingertips: Record attendance in real-time, saving class time and reducing administrative burdens.</li>
              <li><i class="bi bi-check"></i> Data Analysis Expertise: Leverage attendance analytics for trend identification.
              </li>
              <li><i class="bi bi-check"></i> Prompt Bunk Student Identification: Easily spot students with attendance issues</li>

            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="/LandingPage_assets/img/features-2.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>For Administrative Staff</h3>
            <p class="fst-italic">
              

            </p>
            <p>
              <ul>
                <li><i class="bi bi-check"></i>Streamlined Reporting: Real-time attendance reports and analytics simplify administrative tasks, facilitating data-driven decision-making.</li>
                
              <li><i class="bi bi-check"></i> Savings in Time and Resources: Reduce paperwork and manual data entry, resulting in cost and time savings for the college.</li>
              
              </ul>
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
           
          <div class="col-md-5">
            <img src="/LandingPage_assets/img/features-3.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            
            <h4>Modernize, Streamline, Simplify</h4>
            <p>
              Make the decision to modernize attendance tracking processes with Daily Attendance Tracker. Our solution addresses the challenges faced by colleges, promoting efficiency, accuracy, and environmental sustainability. Experience a supportive educational environment for faculties and administrative staff, all with the ease of Daily Attendance Tracker.</p>
            
          </div>
        </div>

        

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-md-3 col-sm-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              
              <li><i class="bx bx-chevron-right"></i> <a href="/login">Login</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact-LandingPage">Contact</a></li>
              
            </ul>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              
              <strong>Email:</strong> info@example.com<br>
            </p>

          
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/LandingPage_assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/LandingPage_assets/vendor/aos/aos.js"></script>
  <script src="/LandingPage_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/LandingPage_assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/LandingPage_assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/LandingPage_assets/vendor/swiper/swiper-bundle.min.js"></script>


  <!--  Main JS File -->
  <script src="/LandingPage_assets/js/main.js"></script>

</body>

</html>