<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Components DAT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
 <!--CSS Files -->
 <link href="/bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 <link href="/bootstrap/boxicons/css/boxicons.min.css" rel="stylesheet">


 <!-- Main CSS File -->
 <link href="/css/style.css" rel="stylesheet">


</head>
<body>
  <!-- ======= Header ======= -->
  <%- include("templates/header.ejs") %>
  <!--======= SideBar =======-->
  <%- include("templates/sidebar.ejs") %>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Take Attendance </h1>

    </div><!-- End Page Title -->
    <form get="GET" action="/searchEntries" onsubmit="searchEntries(); return false;">
      <div class="row">
        <div class="col-lg-12">
          <div class="white-box">
            <div class="row">
              <div class="col-lg-3 mb-3">
                <div class="input-effect sm2_mb_20 md_mb_20">
                  <select class="niceSelect w-100 bb form-control" name="searchYear" id="searchYear"
                    style="font-size: 14px;">
                    <option data-display="Academic Year *" value="">Select Year</option>
                    <option value="2">2</option>
                    <option value="3">3 </option>
                  </select>
                  <span class="focus-border"></span>
                </div>
              </div>
              <div class="col-lg-3 mb-3" id="class-div">
                <select class="niceSelect w-100 bb form-control" id="searchSection" name="searchSection"
                  style="font-size: 14px;">
                  <option data-display="Select Class *" value="">Section</option>
                  <option value="CSIT 1">CSIT 1</option>
                  <option value="CSIT 2">CSIT 2</option>
                  <option value="CSIT 3">CSIT 3</option>
                </select>
              </div>
              <div class="col-lg-3 mb-3" id="class-div">
                <select class="niceSelect w-100 bb form-control" id="subject" name="subject" style="font-size: 14px;">
                  <option data-display="Select Class *" value="">Subject</option>
                  <option value="CSIT601"> CSIT-601</option>
                  <option value="CSIT602"> CSIT-602</option>
                  <option value="CSIT603"> CSIT-603</option>
                 

                </select>
              </div>
              <div class="col-lg-3 mb-3" id="calendar-div">
                <input type="date" id="Date" name="Date" min="2023-01-01"
                  style="font-size: 14px; height: 34px; width: 100%;">
              </div>
              <div class="primary-btn-container">
                <button type="submit" class=" btn-sm btn-primary submit">
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
    </form>

    <div id="wrapper">
      <div class="white-box">
        <form>
          <div class="row ">
            <div class="col-lg-12">
              <table id="attendanceTable" class="display school-table school-table-style" cellspacing="0" width="100%">

                <thead>
                  <tr>
                    <th>Enrollment No</th>
                    <th>Student Name</th>
                    <th>Attendance</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>

              </table>
              <div class="primary-btn-container">
                <button type="button" onclick="submitAttendance()" class=" btn-sm btn-primary ">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </main><!-- End #main -->

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



  <script>
    // Function to update the table with fetched entries
    function updateTable(data) {
      const tableBody = $("#tableBody");
      tableBody.empty();
  
      // Loop through fetched entries and append rows to the table
      data.forEach((entry, index) => {
          const uniqueIdPresent = `attendanceA${entry._id}_${index}_P`;
       
          const row = `
            <tr>
              <td id="enrollmentNo">${entry.enrollment}</td>
              <td id="studentName">${entry.name}</td>
              <td>
                <div class="d-flex checkbox-flex">
                  <div class="mr-20">
                    <input type="checkbox" name="attendance[${entry._id}][attendance_type]" id="${uniqueIdPresent}" value="P"
                      class="common-checkbox attendanceP subject_attendance_type" checked}>
                    <label for="${uniqueIdPresent}">Present</label>
                  </div>
                  
                </div>
              </td>
            </tr>`;
  
          tableBody.append(row);
      });
  }
    // submit attendance of students
   
    // search students of a particular year and section
    async function searchEntries() {
      try {
        const selectedYear = $("#searchYear").val();
        const selectedSection = $("#searchSection").val();

        const response = await fetch(`http://localhost:3000/searchEntries?year=${selectedYear}&section=${selectedSection}`);

        if (!response.ok) {
          throw new Error(`Failed to fetch entries. Status: ${response.status}`);
        }

        const data = await response.json();
        updateTable(data);
      } catch (error) {
        console.error("Error fetching entries:", error.message);
      }
    }
   
    async function submitAttendance() {
      const tableRows = document.querySelectorAll('#attendanceTable tbody tr');
      const date = document.getElementById('Date').value;
      const subject = document.getElementById('subject').value;
      const year = document.getElementById('searchYear').value;
      const section = document.getElementById('searchSection').value;
  
      //  object to store attendance data
      const attendanceData = {
        date: date,
        subject: subject,
        year: year,
        section: section,
        enrollments: []
      };
  
      // Loop through table rows and collect attendance data
      tableRows.forEach(row => {
        const enrollment = row.cells[0].textContent;
        const name=row.cells[1].textContent;
        const checkbox = row.cells[2].querySelector('input[type=checkbox]');
        const attendanceType = checkbox.checked ? checkbox.value : 'A';
  
        attendanceData.enrollments.push({
          enrollment: enrollment,
          name: name,
          attendanceType: attendanceType
        });
      });
  
      try {
        const response = await fetch('/attendance/submitAttendance', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(attendanceData),
        });
  
        if (!response.ok) {
          throw new Error(`Failed to submit attendance. Status: ${response.status}`);
        }
  
        console.log('Attendance submitted successfully');
      } catch (error) {
        console.error('Error submitting attendance:', error.message);
      }
    }
  
    document.querySelector('form').addEventListener('submit', submitAttendance);
  
  </script>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  
 
  <script src="/bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/bootstrap/chart.js/chart.umd.js"></script>

  <!-- Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>