<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Components DAT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/bootstrap/boxicons/css/boxicons.min.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
  <style>
    .input-group {
      display: flex;
      align-items: center;
    }

    .input-group label {
      margin-right: 10px;
    }

    .card {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      width: 750px;
      height: 520px;
      
      text-align: center;
    }

    .card img {
      width: 700px;
      height: 400px;
      align-items: center;
    }

    .card p {
      font-weight: bold;
      
    }
  </style>
</head>

<body>
  <!-- ======= Header ======= -->
  <%- include("templates/header.ejs") %>
  <!--======= SideBar =======-->
  <%- include("templates/sidebar.ejs") %>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Time Table</h1>
    </div><!-- End Page Title -->

    <% if (userRole == 'Coordinator' || userRole == 'Personal Assistant') { %>
    <button id="btn-upload-class" class="btn btn-primary">Upload Class Timetable</button>
    <% } %>
    <% if (userRole == 'Personal Assistant') { %>
    <button id="btn-upload-faculty" class="btn btn-primary">Upload Faculty Timetable</button>
    <% } %>

    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="white-box">
            <div id="form-container" class="row"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="imageContainer" class="card-container mt-5"></div>
    <button class="btn btn-primary" onclick="retrieveimages()">View Class Time Tables</button>
    <% if (userRole == 'Personal Assistant') { %>
      <button class="btn btn-primary" onclick="retrivefacultytimetable()">View Faculty Time Tables</button>
      <% } %>
    
  </main><!-- End #main -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      retrievefacultytt();

      $('#btn-upload-faculty').click(function () {
        $('#form-container').html(`
          <form id="facultyUploadForm" enctype="multipart/form-data" method="post" action="/upload-faculty" class="d-flex w-100">
            <div class="col-lg-3 mb-3">
              <select class="niceSelect w-100 bb form-control" id="facultyname" name="facultyname" style="font-size: 14px;">
                <option data-display="Select Faculty *" value="">Select Faculty</option>
                <option value="Garima Joshi">Garima Joshi</option>
                <option value="Vandana Kate">Vandana Kate</option>
                <option value="Shruti Lashkari">Shruti Lashkari</option>
              </select>
            </div>
            <div class="col-lg-4 mb-3">
              <input class="form-control" type="file" id="facultyFile" name="image" required>
            </div>
            <div class="col-lg-4 mb-3">
              <button type="submit" class="btn btn-primary btn-sm">Upload</button>
            </div>
          </form>
        `);
      });

      $('#btn-upload-class').click(function () {
        $('#form-container').html(`
          <form id="classUploadForm" enctype="multipart/form-data" method="post" action="/upload-class" class="d-flex w-100">
            <div class="col-lg-3 mb-3">
              <select class="niceSelect w-100 bb form-control" name="year" id="year" style="font-size: 14px;">
                <option data-display="Academic Year *" value="">Select Year</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="col-lg-3 mb-3">
              <select class="niceSelect w-100 bb form-control" id="section" name="section" style="font-size: 14px;">
                <option data-display="Select Class *" value="">Section</option>
                <option value="CSIT 1">CSIT 1</option>
                <option value="CSIT 2">CSIT 2</option>
                <option value="CSIT 3">CSIT 3</option>
              </select>
            </div>
            
            <div class="col-lg-4 mb-3">
              <input class="form-control" type="file" id="classFile" name="image" required>
            </div>
            <div class="col-lg-3 mb-3">
              <button type="submit" class="btn btn-primary btn-sm">Upload</button>
            </div>
          </form>
        `);
      });

      $('#form-container').on('submit', '#facultyUploadForm', function (event) {
        event.preventDefault();
        var formData = new FormData(this);
        $.ajax({
          url: '/upload-faculty',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            alert('Faculty timetable uploaded successfully');
          },
          error: function (err) {
            console.error('Error uploading faculty timetable:', err);
            alert('Error uploading faculty timetable');
          }
        });
      });

      $('#form-container').on('submit', '#classUploadForm', function (event) {
        event.preventDefault();
        var formData = new FormData(this);
        $.ajax({
          url: '/upload-class',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            alert('Class timetable uploaded successfully');
          },
          error: function (err) {
            console.error('Error uploading class timetable:', err);
            alert('Error uploading class timetable');
          }
        });
      });
    });

    function retrieveimages() {
      const imageContainer = document.getElementById('imageContainer');
      imageContainer.innerHTML = ''; 

      // Fetching class timetable and faculty timetable images in parallel
      
        fetch('/retrivetimetable').then(response => response.json())
    
    
        .then(classData => {
          
          classData.forEach(item => {
            const cardDiv = document.createElement('div');
            cardDiv.classList.add('card');
            const infoElement = document.createElement('p');
            infoElement.textContent = `Year: ${item.year}, Section: ${item.section}`;
            const imgElement = document.createElement('img');
            imgElement.src = `data:image/jpeg;base64,${btoa(new Uint8Array(item.image.data).reduce((data, byte) => data + String.fromCharCode(byte), ''))}`;
            imgElement.alt = 'Image';
            cardDiv.appendChild(infoElement);
            cardDiv.appendChild(imgElement);
            imageContainer.appendChild(cardDiv);
          });

        
          
        })
        .catch(error => console.error('Error fetching images:', error));
    }
    function retrivefacultytimetable(){
      const imageContainer = document.getElementById('imageContainer');
      imageContainer.innerHTML = ''; 
      fetch('/retrivefacultytimetable').then(response => response.json())
        .then(facultyData => {
          facultyData.forEach(item => {
            const cardDiv = document.createElement('div');
            cardDiv.classList.add('card');
            const infoElement = document.createElement('p');
            infoElement.textContent = `Faculty: ${item.facultyname}`;
            const imgElement = document.createElement('img');
            imgElement.src = `data:image/jpeg;base64,${btoa(new Uint8Array(item.image.data).reduce((data, byte) => data + String.fromCharCode(byte), ''))}`;
            imgElement.alt = 'Image';
            cardDiv.appendChild(infoElement);
            cardDiv.appendChild(imgElement);
            imageContainer.appendChild(cardDiv);
          });
        })
        .catch(error => console.error('Error fetching images:', error));
    
    }
     function retrievefacultytt(){
      const imageContainer = document.getElementById('imageContainer');
      imageContainer.innerHTML = ''; 
        fetch("/retrievefacultytt").then(response=>response.json())
        .then(timetable=>{

          const cardDiv=document.createElement('div');
          cardDiv.classList.add('card');
          const imgElement=document.createElement('img');
          imgElement.src = `data:image/jpeg;base64,${btoa(new Uint8Array(item.image.data).reduce((data, byte) => data + String.fromCharCode(byte), ''))}`;
            imgElement.alt = 'Image';
            
            cardDiv.appendChild(imgElement);
            imageContainer.appendChild(cardDiv);
        })
        .catch(error=>console.error('Error fetching faculty time table images:',error));
      
     }
</script>

  <script src="/bootstrap/apexcharts/apexcharts.min.js"></script>
  <script src="/bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/bootstrap/chart.js/chart.umd.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>

