 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
     
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-toggle="collapse" href="#student-nav">
          <i class="bi bi-people"></i><span>Student</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="student-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="/ADDSTUDENT">
              <i class="bi bi-circle"></i><span>Add Student</span>
            </a>
          </li>
  
  
          <!-- <li>
            <a href="/StudentList">
              <i class="bi bi-circle"></i><span>Student List</span>
            </a>
          </li> -->
         
          <li>
            <a href="/Attendancereport">
              <i class="bi bi-circle"></i><span>Subject Attendance Report</span>
            </a>
          </li>
        </ul>
      </li><!-- End Student Nav -->
      
      <!-- <li>
        <a class="nav-link" href="/AddSubject">s
          <i class="bi bi-journal-text"></i>
          <span>Add Subjects </span>
        </a>
      </li> -->
      
        
      </li><!-- End Add-Subjects Nav -->
      
      
      <li>
        <a class="nav-link" href="/take_attendance">
          <i class="bi bi-journal-text"></i>
          <span>Take Attendance </span>
        </a>
       </li><!--Take Attendance-->
      <li>
  
        <a class="nav-link" href="/TimeTable">
          <i class="bi bi-layout-text-window-reverse"></i>
          <span>Time Table </span>
        </a>
       </li><!--End Time Table Nav-->
  
      <li class="nav-heading">Pages</li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="/users-profile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="/contact">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->
  
    </ul>
  </aside><!-- End Sidebar-->